<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%= link_to "Home", welcome_index_path %>

<p>This is for the card (click for show page)</p>
<%#= link_to 'Show', event_path(event) %> </br>

<p>Click to create new event</p>
<%#= link_to 'Create', new_event_path(event) %>

